In [11]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("D://Data/Advertising.csv")

In [3]:
X = df.drop('sales', axis=1)
y = df['sales']

In [4]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=101)

from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

scaler.fit(X_train)

X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [5]:
from sklearn.model_selection import cross_validate

In [6]:
from sklearn.linear_model import Ridge
model = Ridge(100)

In [8]:
scores = cross_validate(model, X_train, y_train, 
                        scoring=['neg_mean_squared_error','neg_mean_absolute_error'], cv=10)

In [14]:
# scores
scores = pd.DataFrame(scores)

In [15]:
scores

,fit_time,score_time,test_neg_mean_squared_error,test_neg_mean_absolute_error
0,0.020000,0.006997,-8.343329,-2.072484
1,0.005004,0.002999,-5.582463,-1.906832
2,0.006999,0.006001,-4.291879,-1.483433
3,0.004999,0.002998,-6.528441,-2.142031
4,0.009002,0.003004,-19.726677,-3.471752
5,0.012994,0.005009,-4.818275,-1.741032
6,0.013998,0.004006,-2.908209,-1.307310
7,0.009001,0.002004,-10.740661,-2.725304
8,0.007002,0.005002,-7.724996,-2.177406
9,0.008001,0.004001,-6.171823,-2.022786

In [16]:
scores.mean()

fit_time                        0.009700
score_time                      0.004202
test_neg_mean_squared_error    -7.683675
test_neg_mean_absolute_error   -2.105037
dtype: float64

In [23]:
model = Ridge(1)

In [24]:
scores = cross_validate(model, X_train, y_train, 
                        scoring=['neg_mean_squared_error','neg_mean_absolute_error'], cv=10)

In [25]:
scores = pd.DataFrame(scores)

In [26]:
scores

,fit_time,score_time,test_neg_mean_squared_error,test_neg_mean_absolute_error
0,0.004997,0.002006,-3.445927,-1.561576
1,0.004000,0.003005,-2.771931,-1.473467
2,0.003007,0.002995,-1.187381,-0.979992
3,0.004006,0.004000,-1.559656,-1.012419
4,0.005003,0.004998,-10.569407,-2.171315
5,0.005024,0.001971,-0.688597,-0.641646
6,0.004998,0.004000,-1.917855,-1.065413
7,0.004997,0.001000,-3.109495,-1.381007
8,0.003998,0.002996,-4.965233,-1.564080
9,0.003003,0.004016,-2.817300,-1.208564

In [27]:
scores.mean()

fit_time                        0.004303
score_time                      0.003099
test_neg_mean_squared_error    -3.303278
test_neg_mean_absolute_error   -1.305948
dtype: float64

In [28]:
model.fit(X_train, y_train)

Ridge(alpha=1)

In [29]:
y_final_pred = model.predict(X_test)

In [31]:
from sklearn.metrics import mean_squared_error

mean_squared_error(y_test, y_final_pred)

2.37316582827988

In [ ]:
# Grid Search
# Used to iterate over a list of hyperparameters to get optimal values through CV
# finds the optimal hyperparameters for a model