In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_selection import VarianceThreshold

In [2]:
data = pd.read_csv("D:\\precleaned-datasets\\dataset_1.csv")

In [3]:
data.shape

(50000, 301)

In [4]:
X_train, X_test, y_train, y_test = train_test_split(data.drop(labels=['target'], axis=1), data['target'], test_size=0.33, random_state=101)

In [5]:
X_train.shape, X_test.shape

((33500, 300), (16500, 300))

In [6]:
const_features = [ feat for feat in X_train.columns if X_train[feat].std() == 0 ]

In [7]:
X_train.drop(labels=const_features, axis=1,inplace=True)
X_test.drop(labels=const_features, axis=1,inplace=True)

In [9]:
X_train.shape, X_test.shape

((33500, 256), (16500, 256))

In [10]:
# help(VarianceThreshold)
sel = VarianceThreshold(threshold=0.01)

In [11]:
sel.fit(X_train)

VarianceThreshold(threshold=0.01)

In [12]:
sum(sel.get_support())

210

In [13]:
quasi_constant = X_train.columns[~sel.get_support()]

In [14]:
quasi_constant

Index(['var_2', 'var_7', 'var_9', 'var_10', 'var_19', 'var_28', 'var_36',
       'var_43', 'var_45', 'var_53', 'var_54', 'var_56', 'var_59', 'var_71',
       'var_104', 'var_106', 'var_116', 'var_133', 'var_137', 'var_141',
       'var_146', 'var_170', 'var_177', 'var_187', 'var_189', 'var_194',
       'var_197', 'var_198', 'var_218', 'var_219', 'var_223', 'var_233',
       'var_234', 'var_235', 'var_245', 'var_249', 'var_250', 'var_251',
       'var_256', 'var_260', 'var_267', 'var_274', 'var_282', 'var_285',
       'var_289', 'var_298'],
      dtype='object')

In [15]:
len(quasi_constant)

46

In [18]:
# X_train['var_1'].unique()
X_train['var_1'].value_counts()

0    33483
3        9
6        7
9        1
Name: var_1, dtype: int64

In [19]:
X_train['var_1'].value_counts()/float(len(X_train)) * 100

0    99.949254
3     0.026866
6     0.020896
9     0.002985
Name: var_1, dtype: float64

In [20]:
X_train['var_2'].value_counts()/float(len(X_train)) * 100

0    99.997015
1     0.002985
Name: var_2, dtype: float64

In [21]:
feat_names = X_train.columns[sel.get_support()]

In [23]:
X_train = sel.transform(X_train)
X_test = sel.transform(X_test)

X_train.shape, X_test.shape

((33500, 210), (16500, 210))

In [25]:
X_train = pd.DataFrame(X_train, columns=feat_names)
X_test = pd.DataFrame(X_test, columns=feat_names)

In [26]:
X_train

,var_1,var_3,var_4,var_5,var_6,var_8,var_11,var_12,var_13,var_15,...,var_286,var_288,var_290,var_291,var_292,var_293,var_295,var_296,var_299,var_300
0,0.0,0.0,2.79,0.0,0.0,3.0,0.0,0.0,2664.1515,0.0,...,0.0,2.79,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,...,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,2.85,0.0,0.0,0.0,0.0,0.0,0.0000,3.0,...,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,...,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,...,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33495,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,...,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
33496,0.0,0.0,2.82,0.0,0.0,0.0,0.0,0.0,0.0000,3.0,...,0.0,2.88,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
33497,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,...,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
33498,0.0,0.0,2.79,0.0,0.0,0.0,0.0,0.0,0.0000,3.0,...,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
33499,0.0,0.0,2.88,0.0,0.0,0.0,0.0,0.0,0.0000,3.0,...,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0